@import "utils/variables";
@import "base/base";
@import "base/display";
@import "base/typography";

@import "layout/container";
@import "layout/navbar";
@import "layout/btn";
@import "layout/hero";
@import "layout/callToAction";
@import "layout/footer";

@import "pages/home";

/* navbarre style début*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid;
}


.logo {
  cursor: pointer;
  height: 70px;
  width: 80px;
  margin-right: auto;
}

.presentation{
  display: flex;
  gap: 15px;
}
/* page 2 */

.deuxiemepage .image2 {
  position: relative;
  background-image: url("../images/W3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100vw;
  height: 70vh;

}

.textacceuil2 {
  top: -5%;
  left: 5%;
  position: absolute;
  width: 700px;
  height: 200px;
  margin: 40px;
  font-size: 20px;
  color: white;
  line-height: 50px;
  font-weight: bolder;
}

.acceuil2 {
  opacity: 0.8;
  background-color: rgb(28, 95, 163);
  top: 50%;
  left: 40%;
  position: relative;
  width: 800px;
  height: 200px;
}

.aproposdenous {
  width: 100vw;
  height: 85vh;
}

.titreapropos {
  margin-left: 40%;
  color: rgba(5, 36, 64, 0.779);
  margin-top: 50px;

}
@media screen and (max-width:1200px) {
  .title-1{
    font-size: 25px;
  }
}

.aproposimage {
  height: 800px;
  width: 600px;
  margin-left: 70%;
  margin-top: -35%;
  background-image: url("images/photo2sbg-removebg-preview\ copie.png");
  background-position: center;
  background-repeat: no-repeat;
}

.about {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  @media (min-width: 1200px) {
    flex-direction: row;
  }

  &>img {
  flex-direction: column;
  @media (min-width: 1200px) {
    align-items: flex-end;
    flex-direction: row;
  }
  }


  &-content {
    width: 100%;
    @media (min-width: 1200px) {
      width: 600px;
    }
    font-size: 25px;

    &-secondary {
      background-color: rgba(1, 50, 78, 0.833);
      color: white;
      border-radius: 20px;
    }
  }
}

@media screen and (max-width:1200px) {
  .hero {
    font-size: 15px;

  }
}

.callToAction {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/page33.jpeg");
}
@media screen and (max-width:1200px) {
  .callToAction-content {
    font-size: 15px;
  }
}


.texteapropos .image1 img {
  margin-left: 90%;
  margin-bottom: 100%;
  width: 500px;
  height: 500px;
}

.securite {
  width: 100%;
}

.Textesecurite {
  width: 200px;
}

.Textesecurite img {
  display: flex;
  justify-content: center;
}

.textinspiration {
  margin-left: 35%;
  background-color: rgba(63, 94, 124, 0.885);
  border-radius: 15px;
  width: 750px;
  height: 400px;
  font-size: 50px;
  color: white;
  margin-top: 15%;
}


.valeur-section {
  width: 100%;
}

.valeur-content {
  display: flex;
  gap: 20%;
  padding-bottom: 10%;
}
@media screen and (max-width:1200px) {
  .valeur-content{
    display: block;
    align-items: center;
    justify-content: center;
  }
}

/*
.valeurtitre {
  font-size: 50px;

  text-align: center;
  color: rgba(5, 36, 64, 0.779);
  margin-top: 50px;
}

.valeur-container {
  width: 100%;
  background-color: rgba(236, 238, 243, 0.361);
  background-image: url("../images/R5.png");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

  @media (min-width: 1200px) {
    flex-direction: row;
    height: 65vh;
  }*/
@media screen and (max-width:1200px) {
  .container{
    
  }
}

.valeur {
  // margin-left: 300px;
  height: 200px;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 36, 64, 0.758);
  border-radius: 10px;
}

@media screen and (max-width:1200px) {
  .valeur-image{
    width: 250px;
    display: block;
    align-items: center;
    justify-content: center;
  }
}

.valeur-items {
  height: 200px;
  width: 320px;
  display: flex;
  margin-top: 15%;
  background-color: rgba(5, 36, 64, 0.758);
  font-size: 30px;
  color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:1200px) {
  .valeur-items {
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 120px;
  }
}

/* page 3 */

.design-container-fluid {
  width: 100%;
}

.design-image {
  width: 70%;
  margin-left: auto;
}

.design-image img {
  width: 100%;
}

.design-content {
  position: relative;
  margin-bottom: 10%;
}

.design-deep-blue {
  background-color: rgb(4, 62, 116);
  height: 400px;
  width: 100px;
  top: 0px;
  left: 10%;
  position: absolute;
}
@media screen and (max-width:1200px) {
  .design-deep-blue {
  height: 100px;
  width: 50px;
  }
}

.design-white-blue {
  top: 55%;
  left: 5%;
  background-color: rgba(116, 143, 170, 0.624);
  height: 60%;
  width: 75%;
  position: absolute;

}

.service-section {
  width: 100%;
  // height: 85vh;
  background-image: url("../images/serviceimage.jpeg");
  background-position: center;
  // margin-top: 13%;
  display: flex;
  row-gap: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width:1200px) {
  .service-section {
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 200px;
  width: 300px;
  }
}


.service {
  width: 300px;
  height: 200px;
  padding: 10px;
  background-color: rgba(56, 104, 149, 0.331);
  color: white;
  font-size: 30px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  text-align: center;
}
@media screen and (max-width:1200px) {
  .service {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100px;
  width: 120px;
  }
}


.service:hover {
  background: white;
  color: rgba(5, 36, 64, 0.779);
  transform: scale(1.05);
  border-radius: 10px;
  transition: .5s transform linear, .3s height linear .3s;
}

// section equipe style

.section-equipe {
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.equipe-title {
  width: 100%;
  background-color: rgba(5, 36, 64, 0.758);
  font-size: 55px;
  color: white;
  align-items: center;
  padding-bottom: -5%;
}

@media screen and (max-width:1200px) {
  .equipe-title{
    width: 310px;
    height: 300px;
    font-size: 31px;
    display: block;
    align-items: center;
    justify-content: center;
  }
}

.photo-associe img {
  width: 300px;
  height: 350px;
  // margin-left: 50%;
  margin-top: 10%;
  border-radius: 10px 10px 20px 120px;
}
.photo-associe {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 3%;
  padding-bottom: 5%;
  
}
.membres-equipe {
  width: 370px;
  height: 500px;
  float: left;
  box-shadow: 5px 5px 15px rgba(5, 36, 64, 0.758);
  position: relative;
  /* display: block;  */
  overflow: hidden;
  padding-left: 15px;
  text-align: center;
  background: #edf1f3;
  margin-top: 30px;
  justify-content: space-between;
}
@media screen and (max-width:1200px) {
  .membres-equipe{
    width: 310px;
    height: 250px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.membres-equipe p {
  color: rgba(5, 36, 64, 0.779);
  margin-top: 15px;
}

.membres-equipe h3 {
  color: rgba(5, 36, 64, 0.779);
  margin-top: 10px;
}

.membres-equipe::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.membres-equipe::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 4px;
  width: 100%;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.membres-equipe:hover::before {
  border-color: rgba(5, 36, 64, 0.779);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;

}

.membres-equipe:hover::after {
  border-color: rgba(17, 163, 216, 0.779);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;

}
// Style d'envoie des requettes début
.vosRequettes {
  max-width: 800px;
  width: 95%;
  height: fit-content;
  background-color: rgba(5, 36, 64, 0.758);
  border-radius: 10px;
  margin: 30px auto;
  padding-bottom: 30px;
}

.title {
  padding: 20px 0;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: white;
}

.text_input {
  width: 100%;
  max-width: 700px;
  padding-left: 10%;
  color: white;
  font-size: 26px;
  margin-bottom: 20px;
}

.user_text {
  width: 90%;
  height: 50px;
  margin: 10px auto;
  background-color: #fafafa;
  border-radius: 7px;
}
.lesRequettes{
  width: 90%;
  height: 200px;
  margin: 10px auto;
  background-color: #fafafa;
  border-radius: 7px;
}

input {
  width: 85%;
  height: 100%;
  font-size: 20px;
  line-height: 29px;
  border: 0;
  border-radius: 7px 0px 0px 7px;
  outline: none;
  padding-left: 10px;
}

#btn {
  background-color: rgba(186, 204, 220, 0.758);
  width: 15%;
  height: 100%;
  font-size: 15px;
  
  float: right;
  border: 0;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
  cursor: pointer;
}

.text_list {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  text-decoration: underline;
}

.list_box {
  width: 100%;
}

.list_box ul {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.delet1 {
  height: fit-content;
  margin: 10px;
  padding: 10px 5px;
  background-color: #4a5880;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.delet2 {
  color: #4174da;
  background-color: #372f4a;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.fa-check {
  opacity: 0;
  margin-left: 10px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.done {
  opacity: 1;
  transition: .3s;
  color: white;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.text {
  margin-left: 10%;
}

.delet1 .dBtn {
  float: right;
  border: none;
  margin-right: 3%;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
}
// Style d'envoie des requettes fin


// design equipe fin
// page4 style début
.acceuil-last {
  width: 100%;
}
.acceuil-last img{
  width: 100%;
  height: 75%;
 }

 @media screen and (max-width:1200px) {
  .acceuil-last img {
  height: 200px;
  width: 300px;
  }
}

.horaires-content{
  width: 100%;
  display: flex;
  padding-top: 3%;
  text-align: center;
  align-items: center;
}
@media screen and (max-width:1200px) {
  .horaires-texte{
 width: 300px;

& p{
  font-size: 10px;
}
& h2{
  font-size: 10px;
}
  }
}
.horaires-image img{
  width: 70%;
}
.horaires-texte{
  width: 50%;
  font-size: 25px;

}
.localisation-section{
  width: 100%;
  padding-top: 0;
  padding-bottom: 5%;
  background-color: rgba(236, 240, 243, 0.466);
}

@media screen and (max-width:1200px) {
  .localisation-section{
  width: 300px;
  }
}


.maps-item iframe{
  width: 90%;
  padding-top: 5%;
  padding-left: 10%;
}
@media screen and (max-width:1200px) {
  .maps-item iframe{
  width: 300px;
  height: 300px;
  }
}
