@import "utils/variables";
@import "base/base";
@import "base/display";
@import "base/typography";

@import "layout/container";
@import "layout/navbar";
@import "layout/btn";
@import "layout/hero";
@import "layout/callToAction";
@import "layout/footer";

@import "pages/home";

/* navbarre style début*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: solid 1px red;
}


.logo {
  cursor: pointer;
  height: 70px;
  width: 80px;
  margin-right: auto;
}


/* page 2 */

.deuxiemepage .image2 {
  position: relative;
  background-image: url("../images/W3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100vw;
  height: 70vh;

}

.textacceuil2 {
  top: -5%;
  left: 5%;
  position: absolute;
  width: 700px;
  height: 200px;
  margin: 40px;
  font-size: 20px;
  color: white;
  line-height: 50px;
  font-weight: bolder;
}

.acceuil2 {
  opacity: 0.8;
  background-color: rgb(28, 95, 163);
  top: 50%;
  left: 40%;
  position: relative;
  width: 800px;
  height: 200px;
}

.aproposdenous {
  width: 100vw;
  height: 85vh;
}

.titreapropos {
  margin-left: 40%;
  color: rgba(5, 36, 64, 0.779);
  margin-top: 50px;
}


.aproposimage {
  height: 800px;
  width: 600px;
  margin-left: 70%;
  margin-top: -35%;
  background-image: url("images/photo2sbg-removebg-preview\ copie.png");
  background-position: center;
  background-repeat: no-repeat;
}

.about {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  @media (min-width: 1200px) {
    flex-direction: row;
  }

  &>img {
    object-fit: contain;
    width: 100%;
  }

  &-content {
    width: 600px;
    font-size: 25px;

    &-secondary {
      background-color: rgba(1, 50, 78, 0.833);
      color: white;
      border-radius: 20px;
    }
  }
}


.callToAction {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/page33.jpeg");
}

.texteapropos .image1 img {
  margin-left: 90%;
  margin-bottom: 100%;
  width: 500px;
  height: 500px;
}

.securite {
  width: 100%;
}

.Textesecurite {
  width: 200px;
}

.Textesecurite img {
  display: flex;
  justify-content: center;
}

.textinspiration {
  margin-left: 35%;
  background-color: rgba(63, 94, 124, 0.885);
  border-radius: 15px;
  width: 750px;
  height: 400px;
  font-size: 50px;
  color: white;
  margin-top: 15%;
}

.valeur-section {
  width: 100%;

}

.valeur-content {
  display: flex;
  gap: 50px;
}



.valeur-image {
  //   width: 100%;
  //   height: 65vh;
  //   background-color: rgba(236, 238, 243, 0.361);
  //   background-image: url("../images/R5.png");
  //   background-repeat: no-repeat;
  //   display: flex;

}


.valeur-items {
  height: 200px;
  width: 320px;
  display: flex;
  margin-top: 15%;
  background-color: rgba(5, 36, 64, 0.758);
  font-size: 30px;
  color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

/* page 3 */

.design-container-fluid {
  width: 100%;
}

.design-image {
  width: 70%;
  margin-left: auto;
}

.design-image img {
  width: 100%;
}

.design-content {
  position: relative;
  margin-bottom: 10%;
}

.design-deep-blue {
  background-color: rgb(4, 62, 116);
  height: 400px;
  width: 100px;
  top: 0px;
  left: 10%;
  position: absolute;
}

.design-white-blue {
  top: 55%;
  left: 5%;
  background-color: rgba(116, 143, 170, 0.624);
  height: 60%;
  width: 75%;
  position: absolute;

}

.service-section {
  width: 100%;
  // height: 85vh;
  background-image: url("../images/serviceimage.jpeg");
  background-position: center;
  // margin-top: 13%;
  display: flex;
  row-gap: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 200px;

}

.service {
  width: 300px;
  height: 200px;
  padding: 10px;
  background-color: rgba(56, 104, 149, 0.331);
  color: white;
  font-size: 30px;
  border-radius: 10px;
  padding: auto;
  align-items: center;
  display: flex;
  text-align: center;

}

.service:hover {
  background: white;
  color: rgba(5, 36, 64, 0.779);
  transform: scale(1.05);
  border-radius: 10px;
  transition: .5s transform linear, .3s height linear .3s;
}

// section equipe style

.section-equipe {
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.equipe-title {
  width: 100%;
  background-color: rgba(5, 36, 64, 0.758);
  font-size: 55px;
  color: white;
  align-items: center;
  padding-bottom: -5%;
 
}
.photo-associe img {
  width: 300px;
  height: 350px;
  // margin-left: 50%;
  margin-top: 10%;
  border-radius: 10px 10px 20px 120px;
}
.photo-associe {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 5%;
}
.membres-equipe {
  width: 370px;
  height: 500px;
  float: left;
  box-shadow: 5px 5px 15px rgba(5, 36, 64, 0.758);
  position: relative;
  /* display: block;  */
  overflow: hidden;
  padding-left: 15px;
  text-align: center;
  background: #edf1f3;
  margin-top: 30px;
  justify-content: space-between;
}

.membres-equipe p {
  color: rgba(5, 36, 64, 0.779);
  margin-top: 15px;
}

.membres-equipe h3 {
  color: rgba(5, 36, 64, 0.779);
  margin-top: 10px;
}

.membres-equipe::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.membres-equipe::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 4px;
  width: 100%;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.membres-equipe:hover::before {
  border-color: rgba(5, 36, 64, 0.779);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;

}

.membres-equipe:hover::after {
  border-color: rgba(17, 163, 216, 0.779);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;

}

// design equipe fin
// page4 style début
.acceuil-last {
  width: 100%;
}
.acceuil-last img{
  width: 100%;
  height: 75%;
 
 }

.horaires-content{
  width: 100%;
  display: flex;
  padding-top: 3%;
}
.horaires-image img{
  width: 70%;
}
.horaires-texte{
  width: 50%;
  font-size: 25px;
  text-align: center;
  align-items: center;
}
.localisation-section{
  width: 100%;
  padding-top: 0;
  padding-bottom: 5%;
  background-color: rgba(236, 240, 243, 0.466);
}
.maps-item iframe{
  width: 90%;
  padding-top: 5%;
  padding-left: 10%;
}