.callToAction {
  &-content {
    text-align: center;
    display: flex;
    min-width: 25%;
    max-width: 1110px;
    margin: 50px auto;
    background: $deep-blue;
    border-radius: 15px;
    font-size: 30px;

    @media (min-width: 1200px) {
      padding: 100px;
    }
  }
}
