.callToAction {
  display: flex;
  justify-content: center;
  background-image: url("../images/page33.jpeg");
  width: 100vw;
  &-content {
    text-align: center;
    display: flex;
    min-width: 25%;
    max-width: 1110px;
    background: $deep-blue;
    border-radius: 15px;
    @media (min-width: 1200px) {
      padding: 100px;
    }
  }
}

