.footer-section {
  width: 100%;
  background-color: rgba(5, 36, 64, 0.758);
  display: flex;
  flex-direction: column;
}


form input{
  width: 100%;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.footer-content {
  width: 90%;
  background-color: rgba(192, 216, 236, 0.758);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 2000px;
  @media (min-width: 750px) {
    flex-direction: row;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
}

.footer-copyright {
  text-align: center;
}

.footer-link a{
  color: rgb(0, 0, 0);
  &:hover{
    color: rgb(0, 0, 0);
  }
}