
.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10px;
  height: 130px;

  font-weight: 500;
  font-size: 25px;
  list-style: none;
  & li {
    display: inline-block;
    padding: 0px 20px;
  }
}
