body {
  height: 100vh;
  width: 100%;
}

.m {
  @for $i from 0 through 8 {
    &-#{$i} {
      margin: $i*$baseSpacing;
    }
    &t-#{$i} {
      margin-top: $i*$baseSpacing;
    }
    &b-#{$i} {
      margin-bottom: $i*$baseSpacing;
    }
    &l-#{$i} {
      margin-left: $i*$baseSpacing;
    }
    
    &r-#{$i} {
      margin-right: $i*$baseSpacing;
    }
  }
}

.p {
  @for $i from 0 through 8 {
    &-#{$i} {
      padding: $i*$baseSpacing;
    }
    
    &r-#{$i} {
      padding-right: $i*$baseSpacing;
    }
    
    &l-#{$i} {
      padding-left: $i*$baseSpacing;
    }
    &t-#{$i} {
      padding-top: $i*$baseSpacing;
    }
    &b-#{$i} {
      padding-bottom: $i*$baseSpacing;
    }

    &t-#{$i} {
      padding-top: $i*$baseSpacing;
    }
    &b-#{$i} {
      padding-bottom: $i*$baseSpacing;
    }
  }
}

.background {
  &-deep-blue {
    background-color: rgba(1, 50, 78, 0.833);
  }
}

.background-img{
  &-v1{
    background-image: url("../images/page33.jpeg");
  }
}