
.title-2{

}
a{
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: $deep-blue;
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

.text{
  &-sm{
    font-size: 1.5rem;
  }
  &-lg{
    font-size: 2.5rem;
  }
}

.title{
  &-1{
    font-size: 70px;
  }
  &-2{
    font-size: 50px;
  }
}

.text-center{
  text-align: center;
}

.text-deep-blue{
  color: $deep-blue;
}

/**
 parcourt la la liste des éléments de colors map
 et pour chaque ligne,
 - il enregistre le premier ellement dans $state
 - et il enregistre le deuxième dans color
 */

.text{
  @each $color-name, $color-value in $color-map{
    &-#{$color-name} {
      color: map-get($color-map, $color-name);
    }
  }
}